# AWS Account IDs
[id]
admin-account       = "111111111111"
security-account    = "222222222222"
log-archive-account = "333333333333"

# AWS Profiles
[profile]
admin-account       = "AWSOrgRootAccount"
security-account    = "SecurityAdmAccount"
log-archive-account = "LogArchiveAccount"
